name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  MSRV: "1.70.0"

jobs:
  test-std:
    name: Test (std, latest)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose

  test-no-std:
    name: Test (no_std, latest)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build (no_std)
        run: cargo build --verbose --no-default-features --workspace
      - name: Test (no_std)
        run: cargo test --verbose --no-default-features --workspace

  test-std-msrv:
    name: Test (std, MSRV)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.70.0
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose

  test-no-std-msrv:
    name: Test (no_std, MSRV)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.70.0
      - name: Build (no_std)
        run: cargo build --verbose --no-default-features --workspace
      - name: Test (no_std)
        run: cargo test --verbose --no-default-features --workspace

  build-cli:
    name: Build CLI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build CLI
        run: cargo build --verbose --bin dbc-cli

